:root {
    --cor-base: #F8CA26;
    --cinza: #3B3B3B;
    --cinza-escuro: #1E1E1E;
    --cinza-medio: #D6D1D1;
    --cinza-claro: #E7E6E6;
}

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

* {
    font-family: "Anton SC", serif;
    letter-spacing: 0.75px;
}


body {
    margin: 0;
    padding: 0;
}

.header {
    
    background-color: var(--cinza-escuro);
    position: fixed;
    width: 100%;
    /* height: 70px; */
    /* padding: 16px 0; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .container {
    /* background-color: blue; */
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .container .navbar {
    /* background-color: green; */
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .container .navbar .opcoes {
    /* background-color: brown; */
    width: 60%;
    height: 90%;
    margin-left: 7%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

/* HOVER AUMENTANDO FONTE */
.navbar a:hover {
    transform: scale(1.2);
}

/* HOVER FONTE EM AMARELO */
.header .container .navbar .opcoes .opcao:hover {
    color: var(--cor-base);
}

.header .container .navbar .login-cadastro .opcao:hover {
    color: var(--cor-base);
}

.navbar a {
    display: inline-block;
    transition: transform 0.4s ease-in-out;
}

.header .container .navbar .opcoes .opcao {
    text-decoration: none;
    color: white;
    padding-inline: 3%;
    font-weight: bold;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.header .container .navbar .login-cadastro {
    /* background-color: brown; */
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: white;
}

.header .container .navbar .login-cadastro .opcao {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.header .container .navbar .login-cadastro .entrar-div {
    background-color: var(--cor-base);
    width: 300px;
    height: 70px;
    display: flex;
    margin-left: 5%;
    font-weight: bold;
    font-size: 25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    align-items: center;
}

.header .container .navbar .login-cadastro .entrar-div .entrar {
    text-decoration: none;
    color: #1e1e1e;
    font-weight: bold;
    padding-left: 10%;
}

.header .container .navbar .login-cadastro .entrar-div img {
    height: 59px;
    width: 59px;
    padding-left: 8px;

}

/* TELA 1 INICIAL */

.tela-inicial {
    background-image: linear-gradient(to bottom,
            rgba(21, 20, 20, 1.0) 0%,
            rgba(63, 63, 63, 0.75) 39%,
            rgba(63, 63, 63, 0.50) 58%,
            rgba(25, 25, 25, 0.80) 73%,
            rgba(21, 20, 20, 0.90) 87%),
        url(../assets/imgs/fundo-home.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tela-inicial .barra-lateral {
    background-color: var(--cor-base);
    width: 8%;
    height: 100%;
}

.tela-inicial img {
    width: 40%;
    padding-left: 10%;
    padding-top: 3%;
}


.tela-inicial .frase-efeito {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    font-size: 32px;
}

.tela-inicial .frase-efeito .frase-branca {
    color: white;
}

.tela-inicial .frase-efeito .frase-amarela {
    color: var(--cor-base);
    font-size: bold;
    font-weight: 100;
    font-style: italic;
}

/* TELA 2 */

.tela-2 {
    background-color: #E7E6E6;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-2 .frase-botao-saiba-mais {
    font-size: 35px;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 10%;
}

.tela-2 .frase-botao-saiba-mais .botao-saiba-mais {
    width: 215px;
    height: 66px;
    border-radius: 20px;
    font-size: 25px;
    color: #E7E6E6;
    background-color: var(--cor-base);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}

#botao-descubra-mais-mobile {
    display: none;
}


/* TELA 3 */

.tela-3 h4 {
    display: none;
}

.tela-3 section {
    display: none;
}

.tela-3 {
    background-color: #D6D1D1;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-3 .frase-botao-descubra-mais {
    font-size: 35px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 10%;
}

.tela-3 .frase-botao-descubra-mais .botao-descubra-mais {
    width: 324px;
    height: 67px;
    border-radius: 20px;
    font-size: 25px;
    color: #E7E6E6;
    background-color: var(--cor-base);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}


/* TELA 4 */


.tela-4 #imagens-mobile {
    display: none;
}

.tela-4 {
    background-color: var(--cor-base);
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela-4 .contato {
    /* background-color: black; */
    color: #E7E6E6;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}

.tela-4 .contato .imagens-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 90%;
}

.tela-4 .contato .imagens-contato img {
    padding-inline: 4%;
    height: 120px;
    width: 120px;
}


/* TELA 5 */

.tela-5 {
    background-color: #3B3B3B;
    color: #E7E6E6;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.tela-5 .direitos {
    margin-inline: 13%;
    font-weight: bold;
}

.tela-5 .footer {
    /* background-color: white; */
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 5%;
}

.tela-5 .footer .caixa-footer {
    /* background-color: aqua; */
    width: 20%;
    height: 80%;
    color: #E7E6E6;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-inline: 5%;
    font-weight: 100;
}

.tela-5 .footer .caixa-footer span, .tela-6 .footer .caixa-footer b, .direitos {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.conteudo {
    padding: auto 1120px;
    overflow-x: hidden;
}


.header .container-mobile {
    position: relative;
    width: 100%;
    height: 130px;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}


.header .container-mobile .navbar {
    background-color: #F8CA26;
    position: absolute;
    left: 0;
    top: 130px;
    /* alterei altura da header */
    display: none;
    width: 100vw;
}

.header .container-mobile .navbar .opcoes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    color: white;
    margin: 15px 15px;
}

.header .container-mobile .navbar .opcoes .opcao {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    text-align: right;
    padding: 16px 24px;
    margin-top: 20px;
    font-family: "Anton SC", serif;
    font-weight: 100;
}

.header .container-mobile .navbar .opcoes .opcao:is(:active, :focus) {
    background-color: white;
}



/* RESPONSIVIDADE */


@media screen and (max-width: 1080px) {

    /* TELA 1 */


    .header .container-mobile {
        background-color: #F8CA26;
        display: flex;
        padding: 0 5%;
    }

    .header .container {
        display: none;
    }

    .barra-lateral {
        display: none;
    }

    #logo {
        width: 100px;
    }

    #botao-nav-bar {
        width: 50px;
    }

    

    .tela-inicial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .tela-inicial img {
        margin-top: 8%;
        width: 65%;
    }

    .tela-inicial .frase-efeito {
        padding-top: 3%;
        font-size: 25px;
    }


    /* TELA 2 */

    .tela-2 {
        flex-direction: column;
        height: 100vh;
        padding: auto;
    }

    .tela-2 img {
        width: 55%;
    }

    .tela-2 .frase-botao-saiba-mais {
        font-size: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
        margin-top: 5%;
    }

    .tela-2 .frase-botao-saiba-mais .botao-saiba-mais {
        width: 70%;
        height: 8vh;
        border-radius: 20px;
        font-size: 25px;
        color: #E7E6E6;
        background-color: var(--cor-base);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 12%;
    }

    /* TELA 3 */

    .tela-3 {
        height: 110vh;
        flex-direction: column;
    }

    .tela-3 img {
        width: 55%;
    }

    .tela-3 .frase-botao-descubra-mais {
        font-size: 28px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 5%;
        padding-left: 5%;
    }

    .tela-3 .frase-botao-descubra-mais .botao-descubra-mais {
        display: none;
    }

    #botao-descubra-mais-mobile {
        display: block;
        width: 50%;
        height: 8vh;
        border-radius: 20px;
        font-size: 120%;
        color: #E7E6E6;
        background-color: var(--cor-base);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
        text-align: center;
    }

    .tela-3 span {
        display: none;
    }

    .tela-3 h4 {
        display: block;
        font-size: 20px;
        text-align: center;
        color: #3B3B3B;
    }

    /* TELA 4 */

    .tela-4 {
        background-color: var(--cor-base);
        width: 100%;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tela-4 img {
        width: 10%;
    }

    .tela-4 .contato {
        color: #E7E6E6;
        font-size: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 0%;
        width: 70%;
        text-align: center;
    }

    .tela-4 #imagens-geral {
        display: none;
    }

    .tela-4 #imagens-mobile {
        display: block;
        flex-direction: row;
    }

    .tela-4 .imagens-horizontal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 7%;
    }


    /* TELA 5 */

    .tela-5 {
        height: 130vh;
    }

    .tela-5 .footer {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .tela-5 .footer .caixa-footer {
        width: 40%;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tela-5 .direitos {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: 0;
    }
}


/* QUEBRA 2 ::: RESPONSIVIDADE */


@media screen and (max-width: 500px) {

    /* TELA 1 */

    .tela-inicial img {
        margin-top: 8%;
        width: 80%;
    }

    .tela-inicial .frase-efeito {
        padding-top: 6%;
        font-size: 25px;
    }

    /* TELA 2 */

    .tela-2 .frase-botao-saiba-mais {
        font-size: 150%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0%;
        margin-top: 5%;
        margin-right: 15px;
        margin-left: 15px;
    }

    .tela-2 .frase-botao-saiba-mais .botao-saiba-mais {
        width: 60%;
        height: 7vh;
        border-radius: 20px;
        font-size: 25px;
        color: #E7E6E6;
        background-color: var(--cor-base);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 12%;
    }
}