:root {
    --cor-base: #F8CA26;
}

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header .container-mobile {
    position: relative;
    height: 130px;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
    background-color: var(--cor-base);
    
}

.header .container-mobile .navbar {
    background-color: var(--cor-base);
    position: absolute;
    left: 0;
    top: 130px;
    display: none;
    width: 100vw;
    z-index: 9999;
}

.header .container-mobile .navbar .opcoes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    color: white;
    margin: 15px 15px;
}

.header .container-mobile .navbar .opcoes .opcao {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    text-align: right;
    padding: 16px 24px;
    margin-top: 20px;
    font-weight: bold;
    font-family: "Anton SC", sans-serif;
    font-weight: 100;
}

.header .container-mobile .navbar .opcoes .opcao:is(:active, :focus) {
    background-color: white;
}

#logo {
    width: 100px;
}

#botao-nav-bar {
    width: 50px;
    cursor: pointer;
}

.login {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/imgs/cadastro-login/background-cadastro-login.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login .container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    position: relative;
}

.login .container .seta {
    width: 30px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 35px;
}

.login .container .campo-inputs {
    width: 356px;
    height: 561px;
    background-color: #E7E6E6;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 12px 12px rgba(0, 0, 0, 0.2);
}

.login .container .campo-inputs h2 {
    padding: 3%;
    background-color: var(--cor-base);
    margin: 0;
    text-align: center;
    font-size: 32px;
}

.login .container .campo-inputs img {
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    align-self: center;
    width: 50%;
    margin: 10% 0 5% 0;
    line-height: 1.5;
}

.login .container .campo-inputs .input-icon {
    width: 294px;
    height: 46px;
    margin: 6px 30px;
    background-color: #B4B4B4;
    display: flex;
    align-items: center;
}

.login .container .campo-inputs .input-icon img {
    width: 24px;
    height: 24px;
    border: 0px solid transparent;
    margin: 0 5%;
}

.login .container .campo-inputs .input-icon input {
    width: 77%;
    background-color: #B4B4B4;
    outline: 0;
    border: 0;
    border-radius: 0;
    border-left: 1px solid #1E1E1E;
    font-weight: bold;
}

.login .container .campo-inputs .input-icon .password {
    cursor: pointer;
}

.login .container .campo-inputs button {
    width: 209px;
    height: 46px;
    margin: 40px 0px;
    border-radius: 13px;
    border: 0;
    background-color: var(--cor-base);
    font-size: 18px;
    align-self: center;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}

.login .container .campo-trocar {
    width: 320px;
    height: 646px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .container .campo-trocar .passaporte-frente {
    margin: 110px;
    position: absolute;
}

.login .container .campo-trocar .campo-mudar {
    width: 277px;
    height: 91px;
    border-radius: 13px;
    border: 0;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    box-shadow: 8px 12px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.login .container .campo-trocar .campo-mudar h2 {
    width: 96%;
    padding: 2%;
    background-color: var(--cor-base);
    margin: 0;
    border-radius: 13px 13px 0 0;
    text-align: center;
    font-size: 28px;
}

.login .container .campo-trocar .campo-mudar .span-centralizar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 5px 0px;
}

.login .container .campo-trocar .campo-mudar span {
    text-align: center;
}

.login .container .campo-trocar .campo-mudar span span {
    font-weight: bold;
    text-decoration: underline;
}

.login .container .campo-trocar .campo-mudar-abaixo {
    width: 277px;
    height: 503px;
    border-radius: 13px;
    border: 0;
    border-top: 4px dashed #B4B4B4;
    background-color: #D9D9D9;
    box-shadow: 8px 12px 12px rgba(0, 0, 0, 0.2);
}

.tela-footer {
    background-color: #3B3B3B;
    color: #E7E6E6;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tela-footer .direitos {
    margin-inline: 13%;
    font-weight: bold;
}

.tela-footer .footer {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 5%;
}

.tela-footer .footer .caixa-footer {
    width: 20%;
    height: 80%;
    color: #E7E6E6;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-inline: 5%;
}

.tela-footer .footer .caixa-footer span,
.tela-footer .footer .caixa-footer b,
.direitos {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* Responsividade */
@media screen and (max-width: 1080px) {
    .header .container-mobile {
        background-color: #F8CA26;
        display: flex;
        padding: 0 5%;
    }

    .login {
        width: 100%;
        height: 100%;
        background-image: url();
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login .container .seta {
        display: none;
    }

    .login .container {
        flex-direction: column;
        padding: 60px 60px;
    }

    .login .container .campo-inputs {
        width: 356px;
        height: 561px;
        margin: 0;
    }

    .tela-footer {
        height: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .tela-footer .footer {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .tela-footer .footer .caixa-footer {
        width: 40%;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tela-footer .direitos {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: 0;
    }
}