:root {
  --cor-base: #f8ca26;
  --cinza: #3b3b3b;
  --cinza-escuro: #1e1e1e;
  --cinza-medio: #d6d1d1;
  --cinza-claro: #e7e6e6;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

* {
  font-family: "Anton SC", serif;
  letter-spacing: 0.75px;
}

body {
  margin: 0;
}

.header {
  background-color: var(--cinza-escuro);
  position: fixed;
  width: 100%;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 9999;
}

.header .container {
  width: 95%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .container .navbar {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .container .navbar .opcoes {
  width: 56%;
  height: 90%;
  margin-left: 7%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.header .container .navbar .opcoes .opcao {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  padding-inline: 3%;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.header .container .navbar .login-cadastro {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  color: white;
  gap: 10px;
}

.header .container .navbar .login-cadastro .opcao {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.header .container .navbar .login-cadastro .entrar-div {
  background-color: var(--cor-base);
  width: 230px;
  height: 76px;
  display: flex;
  margin-left: 5%;
  font-weight: 400;
  font-size: 25px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  align-items: center;
}

.header .container .navbar .login-cadastro .entrar-div .entrar {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 400 !important;
  padding-left: 10%;
}

.header .container .navbar .login-cadastro .entrar-div img {
  height: 59px;
  width: 59px;
  padding-left: 8px;
}

/* Header Mobile */
.header .container-mobile {
  position: relative;
  width: 100%;
  height: 130px;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.header .container-mobile .navbar {
  background-color: #f8ca26;
  position: absolute;
  left: 0;
  top: 130px;
  display: none;
  width: 100vw;
  z-index: 9999;
}

.header .container-mobile .navbar .opcoes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;
  color: white;
  margin: 15px 15px;
}

.header .container-mobile .navbar .opcoes .opcao {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  text-align: right;
  padding: 16px 24px;
  margin-top: 20px;
}

.header .container-mobile .navbar .opcoes .opcao:is(:active, :focus) {
  background-color: white;
}

.barra-lateral {
  background-color: var(--cinza-escuro);
  width: 8%;
  height: 130px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  width: 70%;
}

.navbar a {
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}

/* HOVER AUMENTANDO FONTE */
.navbar a:hover {
  transform: scale(1.2);
}

/* HOVER FONTE EM AMARELO */
.header .container .navbar .opcoes .opcao:hover {
  color: var(--cor-base);
}

.header .container .navbar .login-cadastro .opcao:hover {
  color: var(--cor-base);
}

.conteudo {
  /* padding: auto 1120px; */
  overflow-x: hidden;
}

.tela-inicial {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cinza-claro);
  box-sizing: border-box;
}

.container-servicos-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10%;
}

.img-servicos-inicio-mobile {
  display: none;
}
.img-servicos-inicio {
  width: 30%;
}

.container-s-1 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.container-s-1 h2,
.container-s-1 h1 {
  text-align: end;
  font-weight: 100;
}

.container-s-1 h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.tela-2 {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6d1d1;
  box-sizing: border-box;
}

.container-servicos-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10%;
}

.container-s-2 {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.container-s-2 h2,
.container-s-2 h1 {
  text-align: start;
  font-weight: 100;
}

.container-s-2 h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 80%;
}

.img-grafico-servicos {
  width: 30%;
}

.img-grafico-servicos-mobile {
  display: none;
}

.tela-3 {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e6e6;
  box-sizing: border-box;
  position: relative;
}

.container-servicos-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10%;
}

.img-servicos-tela-3 {
  width: 25%;
}

.img-servicos-tela-3-mobile {
  display: none;
}

.container-s-3 {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px 0px;
}

.container-s-3 h2,
.container-s-3 h1 {
  text-align: end;
  font-weight: 100;
}

.container-s-3 h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.passaro {
  width: 10%;
  position: absolute;
  right: 0;
}

.passaro2 {
  width: 10%;
  position: absolute;
  left: 0;
}

.tela-4 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6d1d1;
  box-sizing: border-box;
  padding: 6vh;
}

.tela-4 h1 {
  font-weight: 400;
  margin-bottom: 50px;
  color: #1e1e1e;
}

.tela-4 h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 70%;
  margin-bottom: 50px;
}

.container-servicos-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  width: 100%;
}

.container-s-4 {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
}

.texto-servicos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.card {
  background-color: var(--cor-base);
  width: 264px;
  min-width: 264px;
  padding: 5vh 3.5vh;
  box-sizing: border-box;
  border-radius: 24px;
  text-align: center;
  color: black;
  border: solid 3px #1e1e1e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h2 {
  font-weight: bold;
  text-align: center;
}

.card img {
  width: 30%;
}

#rotas-mobile {
  display: none;
}

.tela-6 {
  background-color: #3b3b3b;
  color: #e7e6e6;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tela-6 .direitos {
  margin-inline: 13%;
  font-weight: bold;
}

.tela-6 .footer {
  /* background-color: white; */
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 5%;
}

.tela-6 .footer .caixa-footer {
  /* background-color: aqua; */
  width: 20%;
  height: 80%;
  color: #e7e6e6;
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-inline: 5%;
}

.tela-6 .footer .caixa-footer span,
.tela-6 .footer .caixa-footer b,
.direitos {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Responsividade */
@media screen and (max-width: 1080px) {
  /* HEADER */
  .header .container-mobile {
    background-color: #f8ca26;
    display: flex;
    padding: 0 5%;
  }

  .header .container {
    display: none;
  }

  #logo {
    width: 100px;
  }

  #botao-nav-bar {
    width: 50px;
  }

  /* TELA 1 */

  .tela-inicial {
    width: 100%;
    height: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-claro);
    box-sizing: border-box;
    text-align: center;
  }

  .container-servicos-1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    text-align: center;
  }

  .img-servicos-inicio {
    display: none;
  }

  .img-servicos-inicio-mobile {
    display: block;
    width: 100%;
  }

  .container-s-1 {
    width: 80%;
    text-align: center;
  }

  .container-s-1 h1 {
    text-align: center;
  }

  .container-s-1 h2 {
    text-align: center;
  }

  /* TELA 2 */

  .tela-2 {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-medio);
    box-sizing: border-box;
    text-align: center;
  }

  .container-servicos-2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    text-align: center;
  }

  .container-s-2 {
    width: 80%;
    text-align: center;
    align-items: center;
  }

  .container-s-2 h1 {
    text-align: center;
  }

  .container-s-2 h2 {
    text-align: center;
  }

  .passaro,
  .passaro2 {
    display: none;
  }

  .img-grafico-servicos {
    display: none;
  }

  .img-grafico-servicos-mobile {
    display: block;
    width: 80%;
  }

  /* TELA 3 */

  .tela-3 {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-claro);
    box-sizing: border-box;
    text-align: center;
  }

  .container-servicos-3 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    text-align: center;
  }

  .container-s-3 {
    width: 80%;
    text-align: center;
    align-items: center;
  }

  .container-s-3 h1 {
    text-align: center;
  }

  .container-s-3 h2 {
    text-align: center;
  }

  .passaro,
  .passaro2 {
    display: none;
  }

  .img-servicos-tela-3 {
    display: none;
  }

  .img-servicos-tela-3-mobile {
    display: block;
    width: 90%;
  }

  #rotas {
    display: none;
  }

  #rotas-mobile {
    display: block;
  }

  .tela-6 {
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .tela-6 .footer {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .tela-6 .footer .caixa-footer {
    width: 40%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tela-6 .direitos {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 0;
  }
}
