
#main-sobre .tela-inicial {
    background-image: none;
    background-color: var(--cinza-claro);
    height: fit-content;
    padding-inline: 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
}

#main-sobre .tela-inicial h1, h2{
    font-size: 25px;
}

#main-sobre .tela-inicial h2{
    color: var(--cinza);
}

#main-sobre .tela-inicial .container-esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-sobre .tela-inicial img{
    width: 80%;
    justify-self: end;
}

#main-sobre .tela-inicial-2 {

    background-color: var(--cinza);

}


#main-sobre .imgsobre2 {
    width: 80%;
}


#main-sobre .container-esquerda-2 h1 {
    width: 70%;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
}

#main-sobre .container-esquerda-2 h2 {
    width: 60%;
    color: white;
}


#main-sobre .tela-inicial-3 {
 
    background-color: var(--cinza-medio);

}


#main-sobre .imgsobre3 {
    width: 80%;
}


#main-sobre .tela-inicial-4 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-claro);
    box-sizing: border-box;
    padding: 7vh;
}

#main-sobre .tela-inicial-4 h1 {
    font-weight: 400;
    font-size: 4.5vh;
    margin-bottom: 9vh;
    color: #1E1E1E;
    width: 80%;
}

#main-sobre .tela-inicial-4 p {
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 10px 0;
    margin-top: 2vh;
}

#main-sobre .container-sobre-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    width: 100%;
}

#main-sobre .coluna-passaporte {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 840px;
    margin-bottom: 20px;
}

#main-sobre .passaporte {
    background-color: var(--cor-base);
    width: 264px;
    min-width: 264px;
    padding: 5vh 3.5vh;
    box-sizing: border-box;
    border-radius: 24px;
    text-align: center;
    color: black;
}

#main-sobre .passaporte p,
#main-sobre .passaporte h4 {
    color: var(--cinza-escuro);
}

#main-sobre .passaporte p {
    font-size: 22px;
    color: var(--cinza);
}

#main-sobre .passaporte h4 {
    font-weight: normal;
}




#main-sobre .tela-inicial-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-medio);
    flex-direction: column;
}


#main-sobre .tela-inicial-5 h2{
    text-align: center;
}

#main-sobre .imgsobre6 {
    height: 50px;
    width: 50px;
}

#main-sobre .missao,
#main-sobre .visao,
#main-sobre .valores {
    background-color: var(--cinza);
    color: var(--cinza-medio);
    padding: 50px 8vw ;
    border-radius: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vh;
} 


#main-sobre .missao,
#main-sobre .visao {
    display: flex;
    flex-direction: row;
}

#main-sobre .destinos {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

#main-sobre .missao p,
#main-sobre .visao p {
    max-width: 55%;
}

#main-sobre .missao p,
#main-sobre .visao p,
#main-sobre .valores p {
    font-size: 2vh;
    letter-spacing: 0.5px;
}

#main-sobre .destinos h2 {
    font-size: 3vh;
}

#main-sobre .valores {
    
    flex-direction: row;
}

#main-sobre .valores #container-esquerda-valores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 

#main-sobre .tela-6 {
    background-color: #3B3B3B;
    color: #E7E6E6;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
}

#main-sobre .tela-6 #main-sobre .direitos {
    margin-inline: 13%;
    font-weight: bold;
}

#main-sobre .tela-6 #main-sobre .footer {
    /* background-color: white; */
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 5%;
}

#main-sobre .tela-6 #main-sobre .footer #main-sobre .caixa-footer {
    /* background-color: aqua; */
    width: 20%;
    height: 80%;
    color: #E7E6E6;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-inline: 5%;
}

#main-sobre .tela-6 #main-sobre .footer #main-sobre .caixa-footer span, #main-sobre .tela-6 #main-sobre .footer #main-sobre .caixa-footer b, #main-sobre .direitos {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}






/* RESPONSIVIDADE */

@media screen and (max-width: 1080px) {

    /* HEADER */
    #main-sobre .header #main-sobre .container-mobile {
        background-color: #F8CA26;
        display: flex;
        padding: 0 5%;
    }

    #main-sobre .header #main-sobre .container {
        display: none;
    }

    #logo {
        width: 100px;
    }

    #botao-nav-bar {
        width: 50px;
    }


    #main-sobre .tela-inicial {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cinza-claro);
        box-sizing: border-box;
    }


    #main-sobre .container-sobre-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        text-align: center;
    }

    #main-sobre .imgsobre1 {
        display: none;
    }

    #main-sobre .imgsobre1mobile {
        display: block;
        width: 100%;
    }

    #main-sobre .container-esquerda h1 {
        width: 100%;
        font-family: "Anton SC", sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    #main-sobre .container-esquerda h2 {
        width: 100%;
        font-size: 18px;
    }

    #main-sobre .container-esquerda {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #main-sobre .container-direita {
        width: 100%;
    }


    /* TELA 2 */


    #main-sobre .tela-inicial-2 {
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cinza);
        box-sizing: border-box;
    }

    #main-sobre .container-sobre-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        flex-direction: column;
        text-align: center;
    }


    #main-sobre .imgsobre2 {
        display: none;
    }

    #main-sobre .imgsobre2mobile {
        display: block;
        width: 100%;
    }


    #main-sobre .container-esquerda-2 h1 {
        width: 80%;
        font-family: "Anton SC", sans-serif;
        font-weight: 400;
    }

    #main-sobre .container-esquerda-2 h2 {
        width: 80%;
        color: white;
    }

    #main-sobre .container-esquerda-2 {
        width: 80%;
    }

    #main-sobre .container-direita-2 {
        width: 80%;
    }

    #main-sobre .container-direita-2 h1 {
        font-size: 20px;
    }

    #main-sobre .container-direita-2 h2 {
        font-size: 15px;
        font-weight: 100;
    }

    /* TELA 3 */

    #main-sobre .tela-inicial-3 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cinza-medio);
        box-sizing: border-box;
        text-align: center;
        padding-top: 50px;
    }

    #main-sobre .container-sobre-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        flex-direction: column;
    }

    #main-sobre .imgsobre3 {
        display: none;
    }

    #main-sobre .imgsobre3mobile {
        display: block;
        width: 100%;
    }

    #main-sobre .container-esquerda-3 h1 {
        width: 90%;
        font-family: "Anton SC", sans-serif;
        font-weight: 400;

    }

    #main-sobre .container-esquerda-3 h2 {
        width: 90%;
        color: white;
    }

    #main-sobre .container-esquerda-3 {
        width: 90%;
    }

    #main-sobre .container-direita-3 {
        width: 90%;
    }

    #main-sobre .container-direita-3 h1 {
        width: 100%;
        font-family: "Anton SC", sans-serif;
        font-weight: 400;
        font-size: 30px;
    }

    /* TELA 4 */

    #main-sobre .tela-inicial-4 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cinza-claro);
        box-sizing: border-box;
        padding: 35px 0px;
    }

    #main-sobre .tela-inicial-4 h1 {
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 5%;
        width: 70%;
    }

    #main-sobre .tela-inicial-4 p {
        font-weight: 400;
        font-size: 23px;
        margin: 10px 0;
        margin-top: 10%;
    }

    #main-sobre .container-sobre-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    /* TELA 5 */


    #main-sobre .tela-inicial-5 {
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--cinza-medio);
        box-sizing: border-box;
        padding: 7vh;
    }

    #main-sobre .container-sobre-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 1200px;
        width: 100%;
        gap: 5vh;
    }

    #main-sobre .tela-inicial-5 h1 {
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 4vh;
        color: var(--cinza-escuro);
        width: 80%;
    }


    #main-sobre .imgsobre6 {
        width: 30%;
    }

    #main-sobre .missao,
    #main-sobre .visao,
    #main-sobre .valores {
        background-color: var(--cinza);
        color: var(--cinza-medio);
        padding: 4vh;
        border-radius: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        flex-direction: column;
    }

    #main-sobre .missao h2,
    #main-sobre .visao h2 {
        order: 1
    }

    #main-sobre .missao img,
    #main-sobre .visao img {
        order: 2
    }

    #main-sobre .missao p,
    #main-sobre .visao p {
        order: 3
    }


    #main-sobre .missao,
    #main-sobre .visao {
        display: flex;
        flex-direction: column;
    }

    #main-sobre .destinos {
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    #main-sobre .missao p,
    #main-sobre .visao p {
        max-width: 55%;
    }

    #main-sobre .missao p,
    #main-sobre .visao p,
    #main-sobre .valores p {
        font-size: 17px;
        letter-spacing: 0.5px;
        font-family: "Roboto", sans-serif;
    }


    #main-sobre .missao b,
    #main-sobre .visao b,
    #main-sobre .valores b {
        font-size: 20px;
        letter-spacing: 0.5px;
    }


    #main-sobre .destinos h2 {
        font-size: 3vh;
    }

    #main-sobre .valores #main-sobre .imgsobre6 {
        width: 25%;
    }

    #main-sobre .conteudo {
        padding: auto 1120px;
        overflow-x: hidden;
    }


    #main-sobre .tela-6 {
        height: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #main-sobre .tela-6 #main-sobre .footer {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    #main-sobre .tela-6 #main-sobre .footer #main-sobre .caixa-footer {
        width: 40%;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #main-sobre .tela-6 #main-sobre .direitos {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: 0;
    }




}