@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor_base: #f8ca26;
  --cinza: #3b3b3b;
  --cinza_escuro: #1e1e1e;
  --cinza_medio: #d6d1d1;
  --cinza_claro: #e7e6e6;
  --font_family_padrao: "Roboto", sans-serif;
  --font_family_2: "Anton SC", serif;
}

html {
  font-size: 16px;
}

* {
  font-family: var(--font_family_padrao);
  letter-spacing: 1px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: var(--cinza_escuro);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font_family_2);
  letter-spacing: 3px;
  font-size: 2rem;
  color: var(--cinza);
  font-weight: 400;
  text-transform: uppercase;
}

b {
  font-family: var(--font_family_2);
  letter-spacing: 3px;
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--cor_base);
}

p {
  font-size: 1.5rem;
}

body {
  position: relative;
  overflow-x: hidden;
}

/* HEADER */

header {
  width: 100vw;
  height: fit-content;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 9999;
  background-color: var(--cinza_escuro);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

header .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 8vw 92vw;
}

header .container .barra_lateral {
  width: 100%;
  height: 100%;
  background-color: var(--cor_base);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header .container .barra_lateral .logo {
  width: 100%;
}

header .container .navbar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px 0 10px 10px;
}

header .container .navbar .right_container {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--cinza_claro);
  white-space: nowrap;
}

header .container .navbar a {
  display: inline-block;
  transition: transform 0.5s ease;
}

header .container .navbar .right_container .opcao {
  color: var(--cinza_claro);
  padding-inline: 3%;
  font-weight: bold;
}

header .container .navbar .left_container {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 25px;
  text-decoration: none;
  color: var(--cinza_claro);
}

header .container .navbar .left_container .opcao {
  color: var(--cinza_claro);
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
}

header .container .navbar .left_container .entrar {
  background-color: var(--cor_base);
  width: 30%;
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.5s ease;
}

header .container .navbar .left_container .entrar span {
  color: var(--cinza_escuro);
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
}

header .container .navbar .left_container .entrar .user_div {
  background-color: var(--cinza_escuro);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container .navbar .left_container .entrar .user_div i {
  padding: 12px;
  color: var(--cinza_claro);
}

/* EFEITOS */

header .container .navbar .right_container .active {
  text-decoration: underline;
  color: var(--cor_base);
}

header .container .navbar .opcao:hover {
  color: var(--cor_base);
}

header .container .navbar .left_container .entrar:hover {
  width: 40%;
}

/* /EFEITOS */

/* /HEADER */

/* MAIN */

main {
  height: fit-content;
  width: 100vw;
}

.section {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  justify-items: flex-end;
  align-items: center;
  column-gap: 10vw;
  padding-inline: 8vw;
  padding-block: 70px;
}

.section .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section img {
  height: 50vh;
}

.btn {
  transition: 0.5s ease;
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  color: var(--cinza_escuro);
  background-color: var(--cor_base);
  padding: 15px 40px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  color: var(--cinza_claro);
  background-color: var(--cinza_escuro);
}

/* /MAIN */

/* FOOTER */
footer {
  background-color: var(--cinza);
  color: var(--cinza_claro);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex_start;
  gap: 50px;
  padding: 70px 8vw;
}

footer * {
  color: var(--cinza_claro);
  font-weight: 400;
  font-size: 1rem;
}

footer .container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  justify-items: end;
}

footer .container .container {
  width: fit-content;
  height: auto;
  color: var(--cinza_claro);
  flex-direction: column;
  display: flex;
  align-items: baseline;
  font-weight: 100;
}

footer .container .slogan h6 {
  font-family: var(--font_family_padrao);
}

footer .container .menu {
  justify-self: center;
  align-items: center;
  gap: 10px;
}

footer .container .integrantes {
  align-items: end;
}

footer .container .menu a:hover {
  text-decoration: underline;
}

footer .container b {
  font-weight: 400;
}

/* /FOOTER */

/* INDEX */

/* SECTION 1  */
#index_body .section_1 {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(
      to bottom,
      rgba(21, 20, 20, 1) 0%,
      rgba(63, 63, 63, 0.75) 39%,
      rgba(63, 63, 63, 0.5) 58%,
      rgba(25, 25, 25, 0.8) 73%,
      rgba(21, 20, 20, 0.9) 87%
    ),
    url(../assets/img/home/home_background.png);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 8vw 92vw;
  grid-template-rows: 100%;
  padding: 0;
  column-gap: 0;
}

#index_body .section_1 .barra_lateral {
  background-color: var(--cor_base);
  width: 100%;
  height: 100%;
}
#index_body .section_1 .container {
  height: 100%;
  width: 100%;
  padding: 0 8vw;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

#index_body .section_1 img {
  height: 80%;
}

#index_body .section_1 .slogan {
  display: flex;
  flex-direction: column;
  height: fit-content;
  font-style: italic;
  align-self: flex-end;
  padding-bottom: 16%;
}

#index_body .section_1 .slogan .frase_branca {
  color: var(--cinza_claro);

  display: inline;
}

#index_body .section_1 .slogan .frase_amarela {
  color: var(--cor_base);

  display: inline;
}

/* /SECTION 1  */

/* SECTION 2 */

#index_body .section_2 {
  background-color: var(--cinza_claro);
}

#index_body .section_2 .container {
  text-align: end;
  align-items: flex-end;
}

/* /SECTION 2 */

/* SECTION 3 */
#index_body .section_3 {
  background-color: var(--cinza_medio);
}

#index_body .section_3 .container {
  text-align: start;
  align-items: flex_start;
}

#index_body .section_3 img {
  justify-self: right;
}
/* /SECTION 3 */

/* SECTION 4 */
#index_body .section_4 {
  background-color: var(--cor_base);
  grid-template-columns: 100%;
  height: 100%;
}

#index_body .section_4 .container {
  color: var(--cinza_escuro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 50px;
}

#index_body .section_4 .container .icones_contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}

#index_body .section_4 .container h3 {
  color: var(--cinza_escuro);
  z-index: 2;
}

#index_body .section_4 .container .icones_contato a {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cinza_escuro);
  color: var(--cinza_claro);
  border-radius: 100%;
  color: var(--cinza_claro);
  transition: 0.2s ease;
  z-index: 2;
}

#index_body .section_4 .container .icones_contato a i {
  font-size: 70px;
  color: var(--cinza_claro);
}

#index_body .section_4 .container .icones_contato a:hover {
  border: solid 7px var(--cinza_claro);
}

#index_body .section_4 #arara_direita {
  position: absolute;
  right: -7%;
}

#index_body .section_4 #arara_esquerda {
  position: absolute;
  left: -7%;
  transform: scaleX(-1);
}
/* /SECTION 4 */

/* /INDEX */

/* SOBRE NÓS */

/* SECTION 1 */
#sobre_nos_body .section_1 {
  background: var(--cinza_claro);
}
/* /SECTION 1 */

/* SECTION 2 */

#sobre_nos_body .section_2 {
  background: var(--cinza_escuro);
}

#sobre_nos_body .section_2 * {
  color: var(--cinza_claro);
  text-align: end;
}

/* /SECTION 2 */

/* SECTION 3 */

#sobre_nos_body .section_3 {
  background: var(--cinza_claro);
}

/* /SECTION 3 */

/* SECTION 4 */
#sobre_nos_body .section_4 {
  background: var(--cinza_medio);
  display: flex;
}

#sobre_nos_body .section_4 .container {
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

#sobre_nos_body .section_4 .container .container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 650px 650px;
  gap: 5vw;
}

#sobre_nos_body .section_4 .container .container .container {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  justify-items: center;
  gap: 0;
}

#sobre_nos_body .section_4 .container .container .container .passagem_superior {
  height: fit-content;
  width: 90%;
  background-color: var(--cinza_claro);
  border-radius: 25px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content min-content;
  grid-template-areas:
    "img h3"
    "img h4";
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  text-align: right;
  position: relative;
  box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.381);
}

#sobre_nos_body
  .section_4
  .container
  .container
  .container
  .passagem_superior
  img {
  grid-area: img;
  height: auto;
  width: 80%;
  border-radius: 100%;
  border: solid 5px var(--cor_base);
}

#sobre_nos_body
  .section_4
  .container
  .container
  .container
  .passagem_superior
  h3 {
  grid-area: h3;
  font-size: 1.2rem;
}

#sobre_nos_body
  .section_4
  .container
  .container
  .container
  .passagem_superior
  h4 {
  grid-area: h4;
  font-size: 1rem;
  font-family: var(--font_family_padrao);
}

#sobre_nos_body .section_4 .container .container .container .container {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 100%;
}

#sobre_nos_body
  .section_4
  .container
  .container
  .container
  .container
  .passagem_inferior {
  z-index: 1;
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.381);
  height: 100%;
  width: 90%;
  background-color: var(--cinza_claro);
  border-radius: 25px;
  padding: 20px;
}

#sobre_nos_body .section_4 .container .container .container .linha_tracejada {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: -3%;
  transform: translateY(-50%);
  padding-inline: 40px;
  z-index: 2;
}

#sobre_nos_body
  .section_4
  .container
  .container
  .container
  .linha_tracejada
  div {
  width: 100%;
  height: 5px;
  background: var(--cinza_medio);
}

#sobre_nos_body .section_4 .container .container .container .passaporte {
  height: 90%;
  width: 100%;
  background-color: var(--cor_base);
  border-radius: 0 25px 25px 0;
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  text-align: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.468);
  z-index: 2;
}

#sobre_nos_body .section_4 .container .container .container .passaporte img {
  height: 45%;
}

#sobre_nos_body .section_4 .container .container .container .passaporte h4 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: var(--cinza_escuro);
}

#sobre_nos_body .section_4 .container .container .container .passaporte p {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--cinza_escuro);
}

/* /SECTION 4 */

/* SECTION 5 */

#sobre_nos_body .section_5 {
  background: var(--cinza_claro);
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

#sobre_nos_body .section_5 .container {
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

#sobre_nos_body .section_5 .container .container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 12% auto 12%;
  gap: 5vw;
  background-color: var(--cinza);
  border-radius: 25px;
  padding: 50px;
}

#sobre_nos_body .section_5 .container .container * {
  color: var(--cinza_claro);
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

#sobre_nos_body .section_5 .container .container img {
  width: 100%;
  height: auto;
}

#sobre_nos_body .section_5 .container .container h2 {
  font-size: 1.5rem;
}

#sobre_nos_body .section_5 .container .container_valores {
  display: grid;
  grid-template-columns: auto 20%;
  grid-template-rows: auto;
  row-gap: 3vw;
  align-items: end;
}

#sobre_nos_body .section_5 .container .container_valores .container {
  height: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#sobre_nos_body .section_5 .container .container_valores img {
  height: auto;
  width: 100%;
}

#sobre_nos_body .section_5 .container .container_valores .container_esquerda {
  align-items: baseline;
}

#sobre_nos_body .section_5 .container .container_valores .container_esquerda * {
  text-align: left;
}

#sobre_nos_body
  .section_5
  .container
  .container_valores
  .container_esquerda
  h2 {
  padding-bottom: 20px;
}

/* /SECTION 5 */

/* /SOBRE NÓS */

.mobile {
  display: none;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1080px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  * {
    font-size: 2.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 4rem;
  }

  b {
    font-size: 5rem;
    font-weight: 400;
  }

  p {
    font-size: 3rem;
  }

  header {
    background-color: var(--cor_base);
  }

  header .container {
    display: none;
  }

  header .container_mobile {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 30px 8vw;
  }

  header .container_mobile .navbar {
    background-color: var(--cor_base);
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    width: fit-content;
  }

  header .container_mobile .navbar .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 8vw;
    gap: 35px;
    height: fit-content;
  }

  header .container_mobile .navbar .container .opcao {
    width: 100%;
    text-align: right;
    font-weight: bold;
  }

  header .container_mobile .navbar .container .opcao:is(:active, :focus) {
    background-color: var(--cinza_claro);
  }

  #logo {
    height: 200px;
  }

  #botao_nav_bar {
    font-size: 5rem;
  }

  .btn {
    padding: 30px 60px;
    border-radius: 40px;
  }

  main {
    position: relative;
    overflow: hidden;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 10vw 15vw;
  }

  .section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    height: fit-content;
    padding: 0;
  }

  .section .container * {
    text-align: center;
  }

  .section .container img {
    width: 100%;
    height: fit-content;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding: 10vw 15vw;
  }

  footer * {
    font-size: 3rem;
    text-align: center;
  }

  footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vw;
  }

  footer .container .container {
    align-items: center;
    gap: 10px;
  }

  /* INDEX */

  /* SECTION 1 */

  #index_body .section_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: 10vw 15vw;
  }

  #index_body .section_1 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    height: fit-content;
    padding: 0;
  }

  #index_body .section_1 .barra_lateral {
    display: none;
  }

  /* /SECTION 1 */

  /* SECTION 2 */

  #index_body .section_2 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15vw;
    height: fit-content;
    padding: 0;
  }

  /* /SECTION 2*/

  /* /SECTION 4 */

  #index_body .section_4 img {
    width: 40%;
  }

  #index_body .section_4 #arara_direita {
    right: -15%;
  }

  #index_body .section_4 #arara_esquerda {
    left: -15%;
    /* /SECTION 4 */
  }

  /* /INDEX */

  /* SOBRE NÓS */

  /* SECTION 2 */

  #sobre_nos_body .section_2 * {
    text-align: center;
  }

  /* /SECTION 2 */

  /* SECTION 4 */

  #sobre_nos_body .section_4 .container .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1200px);
  }

  #sobre_nos_body
    .section_4
    .container
    .container
    .container
    .passagem_superior {
    gap: 20px;
    padding: 40px;

  }

  #sobre_nos_body
    .section_4
    .container
    .container
    .container
    .passagem_superior
    img {
    height: 100%;
    width: auto;
  }

  #sobre_nos_body
    .section_4
    .container
    .container
    .container
    .passagem_superior
    h3 {
    font-size: 2.5rem;
    text-align: right;
  }

  #sobre_nos_body
    .section_4
    .container
    .container
    .container
    .passagem_superior
    h4 {
    font-size: 2rem;
    text-align: right;
  }

  #sobre_nos_body .section_4 .container .container .container .passaporte {
    
    padding: 70px;
    
  }

  #sobre_nos_body .section_4 .container .container .container .passaporte img {
    height: 50%;
  }
  
  #sobre_nos_body .section_4 .container .container .container .passaporte h4 {
    font-size: 2.5rem;

  }
  
  #sobre_nos_body .section_4 .container .container .container .passaporte p {
    font-size: 2.2rem;

  }

  /* /SECTION 4 */

  /* SECTION 5 */

#sobre_nos_body .section_5 {
  background: var(--cinza_claro);
  display: flex;
  flex-direction: column;
  gap: 5vw;
  text-align: center;
}


#sobre_nos_body .section_5 .container .container {
  display: flex;
  padding: 70px;
  gap: 100px;
}

#sobre_nos_body .section_5 .container .container * {
  font-size: 2.5rem;
}

#sobre_nos_body .section_5 .container .container img {
  width: 50%;
  order: 2;

}

#sobre_nos_body .section_5 .container .container h2 {
  font-size: 2.5rem;
  order: -1;
}

#sobre_nos_body .section_5 .container .container h2 br{
  display: none;
}

#sobre_nos_body .section_5 .container .container p {
  order: 3;
}



#sobre_nos_body .section_5 .container .container_valores {
  display: flex;
  row-gap: 100px;
  align-items: center;
}

#sobre_nos_body .section_5 .container .container_valores .container {
  gap: 100px;
  align-items: center;
}

#sobre_nos_body .section_5 .container .container_valores img {
  width: 50%;
}


#sobre_nos_body .section_5 .container .container_valores .container * {
  text-align: center;
}


/* /SECTION 5 */

  /* /SOBRE NÓS */
}
