@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --cor_base: #f8ca26;
  --cinza: #3b3b3b;
  --cinza_escuro: #1e1e1e;
  --cinza_medio: #d6d1d1;
  --cinza_claro: #e7e6e6;
  --font_family_padrao:"Roboto", sans-serif;
  --font_family_2:"Anton SC", serif;
}

html{
  font-size: 16px;
}

* {
  font-family: var(--font_family_padrao);
  letter-spacing: 1px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: var(--cinza_escuro);
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: var(--font_family_2);
  letter-spacing: 3px;
  font-size: 2rem;
  color: var(--cinza);
}


body {
  overflow-x: hidden;
}

/* HEADER */

header {
  width: 100vw;
  height: fit-content;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 9999;
  background-color: var(--cinza_escuro);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

header .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 8vw 92vw;
}

header .container .barra_lateral {
  width: 100%;
  height: 100%;
  background-color: var(--cor_base);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header .container .barra_lateral .logo {
  width: 100%;

}

header .container .navbar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px 0 10px 10px;   
}

header .container .navbar .right_container {
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--cinza_claro);
  white-space: nowrap;
}

header .container .navbar a {
  display: inline-block;
  transition: transform 0.5s ease;

}

header .container .navbar .right_container .opcao {
  color: var(--cinza_claro);
  padding-inline: 3%;
  font-weight: bold;

}

header .container .navbar .left_container {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 25px;
  text-decoration: none;
  color: var(--cinza_claro);
}

header .container .navbar .left_container .opcao {
  color: var(--cinza_claro);
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
}

header .container .navbar .left_container .entrar {
  background-color: var(--cor_base);
  width: 30%;
  padding: 10px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.5s ease;
}

header .container .navbar .left_container .entrar span {
  color: var(--cinza_escuro);
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
}

header .container .navbar .left_container .entrar .user_div {
  background-color: var(--cinza_escuro);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .container .navbar .left_container .entrar .user_div i {
  padding: 12px;
  color: var(--cinza_claro);
}

/* EFEITOS */

header .container .navbar .right_container .active {
  text-decoration: underline;
  color: var(--cor_base);
}

header .container .navbar .opcao:hover {
  color: var(--cor_base);
}

header .container .navbar .left_container .entrar:hover {
  width: 40%;
}

/* /EFEITOS */

/* /HEADER */

/* MAIN */

main{
  height: fit-content;
  width: 100vw;
}

section {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8vw;
  padding-block: 70px;
}

section div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  transition: 0.5s ease;
  width: fit-content;
  height: fit-content;
  border-radius: 25px;
  color: var(--cinza_escuro);
  background-color: var(--cor_base);
  padding: 15px 40px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  color: var(--cinza_claro);
  background-color: var(--cinza_escuro);
}

/* /MAIN */

/* FOOTER */
footer {
  background-color: var(--cinza);
  color: var(--cinza_claro);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex_start;
  gap: 50px;
  padding: 70px 8vw;
}

footer *{
  color: var(--cinza_claro);
  font-weight: 400;
  font-size: 1rem;
}

footer .footer_container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  justify-items: end;
}

footer .footer_container .container {
  width: fit-content;
  height: auto;
  color: var(--cinza_claro);
  flex-direction: column;
  display: flex;
  align-items: baseline;
  font-weight: 100;
}

footer .footer_container .slogan h6{
  font-family: var(--font_family_padrao);
}

footer .footer_container .menu {
  justify-self: center;
  align-items: center;
  gap: 10px;
}

footer .footer_container .integrantes {
  align-items: end;
}

footer .footer_container .menu a:hover{
  text-decoration: underline;
}

footer .footer_container b{
  font-weight: bold;
}

/* /FOOTER */

/* INDEX */

/* TELA 1  */
#index_body .tela_1 {
  width: 100%;
  height: 70vh;
  background-image: linear-gradient(
      to bottom,
      rgba(21, 20, 20, 1) 0%,
      rgba(63, 63, 63, 0.75) 39%,
      rgba(63, 63, 63, 0.5) 58%,
      rgba(25, 25, 25, 0.8) 73%,
      rgba(21, 20, 20, 0.9) 87%
    ),
    url(../assets/img/home/home_background.png);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 8vw 92vw;
  grid-template-rows: 100%;
  padding: 0;
  
}

#index_body .tela_1 .barra_lateral {
  background-color: var(--cor_base);
  width: 100%;
  height: 100%;
}
#index_body .tela_1 .container {
  height: 100%;
  width: 100%;
  padding: 0 8vw;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  
  
}

#index_body .tela_1 img {
  height: 80%;
}

#index_body .tela_1 .slogan {
  display: flex;
  flex-direction: column;
  height: fit-content;
  font-style: italic;
  align-self: flex-end;
  padding-bottom: 16%;
  
}

#index_body .tela_1 .slogan .frase_branca {
  color: var(--cinza_claro);
  font-size: 2rem;
  display: inline;
}

#index_body .tela_1 .slogan .frase_amarela {
  color: var(--cor_base);
  font-size: 2rem;
  display: inline;
}

/* /TELA 1  */

/* TELA 2 */

#index_body .tela_2 {
  background-color: var(--cinza_claro);
}

#index_body .tela_2 .container {
  text-align: end;
  align-items: flex-end;
}

#index_body .tela_2 .container b{
  color: var(--cor_base);
  font-size: 3rem;
  font-family: var(--font_family_2);
  letter-spacing: 2px;
}

/* /TELA 2 */


/* TELA 3 */
#index_body .tela_3 {
  background-color: var(--cinza_medio);
}

#index_body .tela_3 .container {
  text-align: start;
  align-items: flex_start;
}

#index_body .tela_3 .container  p{
  font-size: 1.5rem;
}

#index_body .tela_3 img {
  justify-self: right;
  height: 50vh;
}
/* /TELA 3 */

/* TELA 4 */
.tela_4 {
  background-color: var(--cor_base);
  grid-template-columns: 100%;
}

.tela_4 .container {
  color: var(--cinza_escuro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 50px;
}

.tela_4 .container .icones_contato {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.tela_4 .container h3{
  color: var(--cinza_escuro);
}

.tela_4 .container .icones_contato a {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cinza_escuro);
  color: var(--cinza_claro);
  border-radius: 100%;
  color: var(--cinza_claro);
  transition: 0.2s ease;
}

.tela_4 .container .icones_contato a i {
  font-size: 70px;
  color: var(--cinza_claro);

}

.tela_4 .container .icones_contato a:hover {
  border: solid 7px var(--cinza_claro);
}

#arara_direita {
  position: absolute;
  right: -7%;
}

#arara_esquerda {
  position: absolute;
  left: -7%;
  transform: scaleX(-1)
}
/* /TELA 4 */

/* /INDEX */

.section_mobile,
.container_mobile {
  display: none;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1080px) {
  img {
    width: 70%;
  }

  header {
    background-color: var(--cor_base);
    padding: 0;
  }

  header .container {
    display: none;
  }

  header .container_mobile {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 50px 8vw;
  }

  header .container_mobile .navbar {
    background-color: var(--cor_base);
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    width: 100vw;
    padding: 50px;
  }

  header .container_mobile .navbar .right_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-decoration: none;
    color: var(--cinza_claro);
    margin: 15px 15px;
  }

  header .container_mobile .navbar .right_container .opcao {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    text-align: right;
    padding: 16px 24px;
    margin-top: 20px;
    font-family: var(--font_family_2);
    font-weight: 100;
  }

  header .container_mobile .navbar .right_container .opcao:is(:active, :focus) {
    background-color: var(--cinza_claro);
  }

  .barra_lateral {
    display: none;
  }

  #logo {
    width: 70px;
  }

  #botao_nav_bar {
    width: 50px;
  }

  .tela_1 {
    padding: 50px;
    height: fit-content;
  }

  .tela_1 .main_tela_1 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    width: 100%;
  }

  section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    padding-inline: 8vw;
    padding-block: 70px;
  }

  section div {
    font-size: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tela_1 img {
    width: 65%;
  }

  .tela_1 .frase_efeito {
    padding-top: 3%;
    font-size: 25px;
    text-align: center;
  }

  /* TELA 2 */

  #index_body .tela_2,
  #index_body .tela_3 {
    display: none;
  }

  .section_mobile {
    display: block;

    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .section_mobile p {
    font-size: 25px;
  }

  .section_mobile span {
    font-size: 55px;
  }

  #index_body .tela_2_mobile {
    background-color: var(--cinza_claro);
  }

  #index_body .tela_3_mobile {
    background-color: var(--cinza_medio);
  }

  #index_body .tela_3_mobile span {
    font-size: 25px;
  }

  /* TELA 4 */

  .tela_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .tela_4 b {
    text-align: center;
    z-index: 1;
  }

  .tela_4 .contato {
    gap: 50px;
  }

  .tela_4 .contato .imagens_contato {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 50px;
  }

  .tela_4 .contato .imagens_contato a {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza_escuro);
    color: var(--cinza_claro);
    border-radius: 100%;
    font-size: 50px;
    transition: 0.2s ease;
  }

  .tela_4 .contato .imagens_contato a:hover {
    border: solid 7px var(--cinza_claro);
  }

  #passaro_direita {
    width: 30%;
    position: absolute;
    right: 0;
    top: -7%;
  }

  #passaro_esquerda {
    width: 30%;
    position: absolute;
    left: -10%;
    bottom: -10%;
  }

  /* TELA 5 */

  footer .footer_container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  footer .footer_container .container {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .direitos {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}