@import url("/common/css/style.css");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("/common/css/style.css");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* HEADER */
header {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--cor_base);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  
  header .container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    margin-inline: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo_container .logo {
    height: 70px;
  }
  
  .menu_container {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .menu_container .opcao {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  
  .menu_container .opcao.active {
    border: 2px solid black;
    border-radius: 50px;
    color: black;
  }
  
  .icon_container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .icon_container .entrar {
    display: flex;
    align-items: center;
    transition: 0.3s ease;
  }
  
  .icon_container .user_div {
    background-color: var(--cinza_escuro);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon_container .user_div i {
    padding: 12px;
    color: var(--cinza_claro);
  }

/* CONTEUDO */
.nav-buttons button {
    margin: 5px;
    background: #fff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .user-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  .gerenciamento {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 50vh;
  }
  
  .add-user {
    margin: 10px 0;
    padding: 10px 15px;
    background: #f9c909;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .user-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .user-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }
  
  .user-row input, .user-row select {
    flex: 1 1 150px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .actions button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .pagination {
    margin-top: 10px;
    text-align: center;
  }