@import url("/common/css/style.css");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body{
    max-width: 100vw; 
  }
  
  main {
    background-color: #d6d1d1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 88vh;
    position: relative;
    overflow: hidden;
  }

  main h1 {
    margin: 1% 7%;
    font-size: 25px;
  }
  
  main .tela-usuarios {
    display: flex;
    width: 90%;
    height: 83%;
    margin: 0 5%;
    background-color: white;
    border-radius: 30px;
  }
  
  /* height: 400px;
  width: 200px; */
  
  main .tela-usuarios .container-usuarios {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  main .tela-usuarios .container-usuarios .colunas {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    background-color: var(--cor_base);
    border-radius: 30px 30px 0 0;
  }
  
  main .tela-usuarios .container-usuarios .colunas h2 {
    margin: 1% 3%;
    font-size: 16px;
  }

  main .tela-usuarios .container-usuarios .container-informacoes {
      width: 100%;
      height: 85%;
      display: flex;
    }

    main .tela-usuarios .container-usuarios .informacoes {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    
  .container-informacoes .informacoes h2 {
    margin: 2% 5%;
    margin-bottom: 1%;
    font-size: 20px;
  }
  .container-informacoes .informacoes .campo-info {
    display: flex;
    align-items: center;
    width: 90%;
    height: 10%;
    margin: 0.5% 5%;
    background-color: var(--cinza_medio);
    border-radius: 10px;
  }

  .container-informacoes .informacoes .campo-info span {
    font-weight: bolder;
    padding-left: 3%;
    font-size: 15px;
  }

  .campo-info input {
    margin-left: 3%;
    width: 77%;
    display: block;
  }

  .campo-info select {
    background-color: var(--cinza_medio);
    font-size: 13px;
    width: 80%;
    height: 33px;
    padding: 5px;
    gap: 10px;
    margin-inline: 8px;
    outline: none;
    border: none;
  }

  .campo-info input[type="date"] {
    width: 60%;
  }
  .container-informacoes .informacoes .campo-preferencia {
    display: flex;
    align-items: center;
    width: 90%;
    height: 5%;
    margin: 0.5% 5%;
    background-color: white;
  }

  .container-informacoes .informacoes .campo-preferencia label {
    width: 30%;
    height: 90%;
    margin-right: 2.5%;
    background-color: var(--cor_base);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-informacoes .informacoes .campo-preferencia label span {
    margin-left: 5%;
    font-weight: bolder;
    font-size: 13px;
  }

  .container-informacoes .informacoes .campo-preferencia label:has(input:checked) {
    transition: 0.3s;
  }

  .container-informacoes .passaporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
  }

  .passaporte .container-passaporte {
    display: flex;
    width: 90%;
    height: 83%;
    margin: 2.5% 5%;
  }

  .container-passaporte .passaporte-frente {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 95%;
    margin: 2.5%;
    position: relative;
  }

  .container-passaporte .passaporte-frente .cabeca {
    width: 60%;
    height: 20%;
    background-color: var(--cinza_medio);
    border-radius: 15px;
    border-bottom: 2px dashed white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-passaporte .passaporte-frente .cabeca div {
    width: 100%;
    height: 35%;
    border-radius: 15px 15px 0 0;
    background-color: var(--cor_base);
  }

  .container-passaporte .passaporte-frente .cabeca span {
    font-weight: bolder;
    margin-top: 5%;
    font-size: 15px;
  }

  .container-passaporte .passaporte-frente .complemento {
    width: 60%;
    height: 80%;
    background-color: var(--cinza_medio);
    border-radius: 30px;
  }

  .container-passaporte .passaporte-frente .frente {
    width: 70%;
    height: 72%;
    background-color: var(--cor_base);
    border-radius: 0 15px 15px 0;
    position: absolute;
    margin-top: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-passaporte .passaporte-frente .frente img {
    width: 150px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-top: 10%;
    padding-bottom: 10%;
}

.container-passaporte .passaporte-tras {
    display: flex;
    align-items: center;
    width: 45%;
    height: 95%;
    margin: 2.5%;
  }

  .container-passaporte .passaporte-tras .informacoes-pessoais {
    width: 86%;
    height: 100%;
    background-color: var(--cinza_medio);
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-passaporte .passaporte-tras .informacoes-pessoais .amarela {
    width: 100%;
    height: 15%;
    border-radius: 20px 20px 0 0;
    background-color: var(--cor_base);
  }

  .container-passaporte .passaporte-tras .informacoes-pessoais img {
    width: 150px;
    margin: 5%;
  }

  .container-passaporte .passaporte-tras .informacoes-pessoais .dados {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 3% 5%;
  }
  
  .container-passaporte .passaporte-tras .informacoes-pessoais .dados div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .container-passaporte .passaporte-tras .informacoes-pessoais .dados div span {
    font-weight: bolder;
    margin: 4% 0;
    font-size: 10px;
  }

  .container-passaporte .passaporte-tras .campo-cinza {
    width: 7%;
    height: 100%;
    background-color: var(--cinza_medio);
    border: 0.2px solid var(--cinza_claro);
    border-radius: 10px 10px 0 0;
  }

  .container-passaporte .passaporte-tras .campo-amarelo {
    width: 7%;
    height: 100%;
    background-color: var(--cor_base);
    border: 0.2px solid var(--cinza_claro);
    border-radius:  10px 10px 0 0;
  }

  .passaporte button {
    border: 1px solid black;
    background-color: var(--cinza_medio);
    border-radius: 20px;
    width: 40%;
    text-align: center;
    font-size: 12px;
  }
    