@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wdth,wght@0,95.4,529;1,95.4,529&display=swap');
@import url("/common/css/style.css");

body,
body * {
    font-family: "Anybody", sans-serif !important;
}

/* HEADER */
header {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--cor_base);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

header .container {
    width: 90%;
    margin: 0 auto;
    margin-inline: 5%;
    display: flex
;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.logo_container .logo {
  height: 70px;
}

.menu_container {
    display: flex;
    align-items: center;
    gap: 65px;
}

.menu_container .opcao {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    text-decoration: none;
    padding: 13px 31px;
    transition: transform 0.3s ease;
    font-size: 17px;
    transition: all 0.8s ease;
}

.menu_container .opcao.active {
    border: 2px solid black;
    border-radius: 50px;
    color: black;
}

.icon_container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon_container .entrar {
    display: flex;
    align-items: center;
    transition: 0.3s ease;
}

.icon_container img {
    width: 50px;
}

.icon_container img {
  transition: transform 0.6s ease;
}

.icon_container img:hover {
  transform: scale(1.1);
  
}


/*TELA DE GERENCIAMENTO*/
main {
  background-color: #d6d1d1;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

main .gerenciamento-main {
  display: flex
;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 90%;
}

main .gerenciamento-main .titulo{
  display: flex;
  font-size: x-large;
  font-weight: bolder;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 30%;
}

.container-gerenciamento {
  background-color: #fff;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  height: auto; 
  padding-bottom: 20px;
  width: 91%;
  border-radius: 20px;
}

.cabecalho {
  background-color: var(--cor_base);
  color: black;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  display: flex
;
  align-items: center;
  gap: 20px;
}

.texto-gerenciamento {
    position: relative; /* Permite posicionar o ::after corretamente */
    display: inline-block; /* Faz o título ocupar apenas o espaço do texto */
}

.texto-gerenciamento::after {
  content: "";
  position: absolute;
  bottom: -8px; 
  left: 0;
  width: 70%; 
  height: 3.5px; 
  background: #000; 
}

.cabecalho img {
  width: 20px;
}

#botao-delete {
  width: 35px;
}



.conteudo-usuarios {
  display: flex
;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 40px;
  box-sizing: border-box;
}

.titulo-lista {
  font-weight: 900;
  font-size: 22px;
}

.add-btn {
  background-color: var(--cor_base);
  padding: 8px 12px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  /* min-width: 100px; */
  display: flex
;
  align-items: center;
  justify-content: center;
  padding: 8px 18px;
  gap: 5px;
  transition: all 0.5s ease;
}

.add-btn img {
  width: 20px;
}

.add-btn:hover {
  transform: scale(1.1);
}

#icon-not {
  width: 25px; 
  height: auto; 
}



.filtros-usuarios {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 12px;
  margin-left: 10px; 
  padding-left: 10px; 
}

.filtros-usuarios input,
.filtros-usuarios select {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-weight: bold;
  background-color: #eee;
  color: #000;
}

.filtros-usuarios input
{
  width: 30vh;
}

.filtros-usuarios select 
{
  width: 43.5vh;
}

.actions {
  display: flex;
  gap: 5px;
}

.actions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.container, .container-gerenciamento, .filtros-usuarios {
  max-width: 100%;
  overflow-x: hidden; 
  flex-wrap: wrap;
}

.filtros-usuarios {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* EFEITOS */



.menu_container .opcao:hover {
  background-color: #F2F2F2;
  color: black;
  border-radius: 50px;
}