@import url("/common/css/style.css");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body{
    max-width: 100vw; 
  }

  body, body * {
    font-family: "Anybody", sans-serif !important;
}
  
  main {
    background-color: #d6d1d1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    height: 88vh;
    position: relative;
    overflow: hidden;
  }

  header {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: var(--cor_base);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

header .container {
  width: 90%;
  margin: 0 auto;
  margin-inline: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.logo_container .logo {
  height: 70px;
  margin-top: -4.8px;
}

.menu_container {
  display: flex;
  align-items: center;
  gap: 65px;
}

.menu_container .opcao {
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  border: 2px solid black;
  border-radius: 50px;
  text-decoration: none;
  padding: 13px 31px;
  transition: transform 0.3s ease;
  font-size: 17px;
  transition: all 0.8s ease;
}

.menu_container .opcao.active {
  border: 2px solid black;
  border-radius: 50px;
  color: black;
}

.icon_container .entrar {
  display: flex;
  align-items: center;
  transition: 0.3s ease;
}
.icon_container {
  display: flex;
  align-items: center;
  gap: 15px;
}

#icon-not {
  width: 25px; 
  height: auto; 
}

.colunas img {
  margin-left: -5px;
}



/* EFEITOS */
.menu_container .opcao.active {
  color: black;
  border-radius: 50px;
  background-color: #F2F2F2;
}

.menu_container .opcao:hover {
  background-color: #F2F2F2;
  color: black;
  border-radius: 50px;
}

main h1 {
  margin: 1.5% 7%;
  font-size: 25px;
  font-weight: bold;
  color: black;
}
  
main .tela-usuarios {
  display: flex
;
  width: 90%;
  height: 80%;
  margin: 0 5%;
  background-color: white;
  border-radius: 30px;
}
  
  /* height: 400px;
  width: 200px; */
  
  main .tela-usuarios .container-usuarios {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .cabecalho {
    background-color: var(--cor_base);
    color: black;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    display: flex
;
    align-items: center;
    gap: 20px;
}

.cabecalho h2 {
  font-family: var(--font_family_2);
  letter-spacing: 1px;
  font-size: 15px;
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}

  main .tela-usuarios .container-usuarios .container-informacoes {
      width: 100%;
      height: 85%;
      display: flex;
    }

    main .tela-usuarios .container-usuarios .informacoes {
      width: 50%;
      height: 100%;
      display: flex
  ;
      flex-direction: column;
      gap: 5px;
  }
    
  .container-informacoes .informacoes h2 {
    /* margin: 2.5% 5.5%; */
    /* margin-bottom: 1%; */
    font-size: 20px;
    font-weight: bold;
    color: black;
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 32px;
}

.cabecalho img {
  width: 20px;
}

  #iconuser {
    width: 90px;
  }

  .container-informacoes .informacoes .campo-info {
    display: flex
;
    align-items: center;
    width: 90%;
    height: 8%;
    margin: 0.5% 5%;
    background-color: var(--cinza_medio);
    border-radius: 10px;
    /* gap: 50px; */
}
.container-informacoes .informacoes .campo-info {
  display: flex
;
  align-items: center;
  width: 70%;
  height: 8%;
  margin: 0.5% 5%;
  background-color: var(--cinza_medio);
  border-radius: 10px;
  /* gap: 50px; */
}

.campo-info input {
  margin-left: 3%;
  width: 77%;
  display: block;
  font-size: 13px;
  letter-spacing: 0px;
}

  .campo-info select {
    background-color: var(--cinza_medio);
    font-size: 13px;
    width: 80%;
    height: 33px;
    padding: 5px;
    gap: 10px;
    margin-inline: 8px;
    outline: none;
    border: none;
  }

  .campo-info input[type="date"] {
    width: 60%;
}

.texto-gerenciamento {
  position: relative; /* Permite posicionar o ::after corretamente */
  display: inline-block; /* Faz o título ocupar apenas o espaço do texto */
}

.texto-gerenciamento::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 70%;
  height: 3.5px;
  background: #000;
}

  .container-informacoes .informacoes .campo-preferencia {
    display: flex;
    align-items: center;
    width: 90%;
    height: 5%;
    margin: 0.5% 5%;
    background-color: white;
  }

  .container-informacoes .informacoes .campo-preferencia label {
    width: 30%;
    height: 25px;
    margin-right: 1%;
    background-color: var(--cor_base);
    border-radius: 20px;
    display: flex
;
    align-items: center;
    justify-content: center;
    /* FONT-SIZE: 20px; */
}

  .container-informacoes .informacoes .campo-preferencia label span {
    margin-left: 5%;
    font-weight: bolder;
    font-size: 13px;
  }

  .container-informacoes .informacoes .campo-preferencia label:has(input:checked) {
    transition: 0.3s;
  }

  .container-informacoes .passaporte {
    display: flex
;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
}

.passaporte .container-passaporte {
  display: flex
;
  width: 90%;
  height: 350px;
  /* margin: 2.5% 5%; */
  margin-top: 8px;
  margin-bottom: 20px;
}

  .container-passaporte .passaporte-frente {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 95%;
    margin: 2.5%;
    position: relative;
  }

  .container-passaporte .passaporte-frente .cabeca {
    width: 60%;
    height: 27%;
    /* background-color: var(--cinza_medio); */
    border-radius: 15px;
    border-bottom: 2px dashed white;
    display: flex
;
    flex-direction: column;
    align-items: center;
    background-color: #E7E6E6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

  .container-passaporte .passaporte-frente .cabeca div {
    width: 100%;
    height: 35%;
    border-radius: 15px 15px 0 0;
    background-color: var(--cor_base);
  }

  .container-passaporte .passaporte-frente .cabeca span {
    font-weight: bolder;
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 0px;
}

.container-passaporte .passaporte-frente .complemento {
  width: 60%;
  height: 80%;
  /* background-color: var(--cinza_medio); */
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background-color: #E7E6E6;
}

  .container-passaporte .passaporte-frente .frente {
    width: 70%;
    height: 72%;
    background-color: var(--cor_base);
    border-radius: 0 15px 15px 0;
    position: absolute;
    margin-top: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-passaporte .passaporte-frente .frente img {
    width: 150px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding-top: 10%;
    padding-bottom: 10%;
}

.container-passaporte .passaporte-tras {
    display: flex;
    align-items: center;
    width: 45%;
    height: 95%;
    margin: 2.5%;
  }

  .container-passaporte .passaporte-tras .informacoes-pessoais {
    width: 190px;
    height: 100%;
    /* background-color: var(--cinza_medio); */
    border-radius: 20px 20px 0 0;
    display: flex
;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    background-color: #E7E6E6;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

  .container-passaporte .passaporte-tras .informacoes-pessoais .amarela {
    width: 100%;
    height: 15%;
    border-radius: 20px 20px 0 0;
    background-color: var(--cor_base);
  }

  .container-passaporte .passaporte-tras .informacoes-pessoais img {
    width: 150px;
    margin: 5%;
  }

  .container-passaporte .passaporte-tras .informacoes-pessoais .dados {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 3% 5%;
  }
  
  .container-passaporte .passaporte-tras .informacoes-pessoais .dados div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .container-passaporte .passaporte-tras .informacoes-pessoais .dados div span {
    margin: 4% 0;
    font-size: 10px;
}

  .titulobold {
    font-weight: bold;
  }

  .container-passaporte .passaporte-tras .campo-cinza {
    width: 7%;
    height: 100%;
    /* background-color: var(--cinza_medio); */
    border: 0.2px solid var(--cinza_claro);
    border-radius: 10px 10px 0 0;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
    background-color: #E7E6E6;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.container-passaporte .passaporte-tras .campo-amarelo {
  width: 7%;
  height: 100%;
  background-color: var(--cor_base);
  border: 0.2px solid var(--cinza_claro);
  border-radius: 10px 10px 0 0;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.container-informacoes .informacoes .campo-info span {
  font-weight: bolder;
  padding-left: 3%;
  font-size: 13px;
  letter-spacing: 0px;
}

  .passaporte button {
    font-weight: bold;
    /* border: 1px solid black; */
    background-color: var(--cinza_medio);
    border-radius: 20px;
    width: 40%;
    text-align: center;
    font-size: 12px;
    HEIGHT: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
    transition: transform 0.6s ease;
}

.passaporte button:hover{
  transform: scale(1.1);
}
    