@import url(/common/css/style.css);

:root {
  --padding: 30px;
}

* {
  text-align: center;
  
}

/* BG */

body {
  height: 100vh;
  width: 100vw;
  background: var(--cinza_medio);
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.seta {
  align-self: flex-start;
}

.seta i {
  font-size: 2rem;
}

.logo {
  align-self: flex-start;
  height: 100px;
  width: auto;
  order: 3;
}

.forma {
  position: absolute;
  height: 100%;
  width: auto;
  z-index: -1;
}

#forma_esquerda {
  left: 0;
  top: 0;
}

#forma_direita {
  transform: scale(-1);
  right: -0;
  top: 0;
}

/* /BG */

/* MAIN */

main {
  height: 100%;
  width: 70%;
  display: grid;
  grid-template-columns: 50% 40%;
  justify-items: center;
  column-gap: 10%;
  align-items: center;
}

h2 {
  background: var(--cor_base);
  width: 100%;
  padding: 10px var(--padding);
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

/* FORM */

.container_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cinza_claro);
  height: fit-content;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.381);
}

.form {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
}

.form b {
  color: var(--cinza_escuro);
  font-family: var(--font_family_padrao);
  font-size: 1em;
  text-transform: none;
  font-weight: bold;
}

.form .container {
  background: var(--cinza_medio);
  flex-direction: row;
  text-align: left;
  padding: 15px;
  gap: 15px;
  font-size: 1rem;
  width: 100%;
  height: fit-content;
}

.form .container input::placeholder {
  color: var(--cinza_escuro);
}

/* /FORM */

/* PASSAPORTE E PASSAGEM */

.passaporte_passagem {
  height: 100%;
  width: 100%;
  background: none;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  justify-items: center;
  gap: 0;
  overflow: unset;
}

.passaporte_passagem .passagem_superior {
  height: fit-content;
  width: 90%;
  background-color: var(--cinza_claro);
  border-radius: 25px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, fit-content);
  justify-content: center;
  position: relative;
  box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.381);
  gap: 10px;
  padding-bottom: 15px;
}

.passaporte_passagem .passagem_superior a {
  width: 100%;
}

.passaporte_passagem .passagem_superior a:hover {
  text-decoration: underline;
}

.passaporte_passagem .passagem_superior span {
  font-family: var(--font_family_2);
  font-size: 1rem;
  color: var(--cinza);
}

.passaporte_passagem .passagem_superior span b {
  color: var(--cinza);
  font-size: 1em;
  text-decoration: underline;
}

.passagem_superior .linha_tracejada {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: -3%;
  transform: translateY(-50%);
  padding-inline: 40px;
  z-index: 2;
}

.passagem_superior .linha_tracejada div {
  width: 100%;
  height: 5px;
  background: var(--cinza_medio);
}

.passaporte_passagem .container {
  height: 100%;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 100%;
  background: none;
  border-radius: 0;
  overflow: unset;
}

.passaporte_passagem .passagem_inferior {
  z-index: 1;
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.381);
  height: 100%;
  width: 90%;
  background-color: var(--cinza_claro);
  border-radius: 25px;
  padding: 20px;
  justify-self: center;
}

.passaporte_passagem .passaporte {
  height: 90%;
  width: 100%;
  background-color: var(--cor_base);
  border-radius: 0 25px 25px 0;
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;

  text-align: center;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.468);
  z-index: 2;
}

.passaporte_passagem .passaporte img {
  height: 35%;
}

.passaporte_passagem .passaporte h4 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: var(--cinza_escuro);
}

.passaporte_passagem .passaporte p {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--cinza_escuro);
  width: 80%;
}

header {
  display: none;
}

/* /PASSAPORTE E PASSAGEM */

/* /MAIN */

@media screen and (max-width: 1080px) {
  body {
    flex-direction: column;
    padding: 0;
    overflow-x: hidden;
    height: fit-content;
  }

  .desktop {
    display: none;
  }

  header {
    background-color: var(--cor_base);

    width: 100vw;
    height: fit-content;
    position: sticky;
    right: 0;
    top: 0;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }

  header .container {
    display: none;
  }

  header .container_mobile {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
   
    padding: 30px var(--padding_inline);
  }

  header .container_mobile .navbar {
    background-color: var(--cor_base);
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    width: fit-content;
  }

  header .container_mobile .navbar .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px var(--padding_inline);
    gap: 35px;
    height: fit-content;
  }

  header .container_mobile .navbar .container .opcao {
    width: 100%;
    text-align: right;
    font-weight: bold;
  }

  header .container_mobile .navbar .container .opcao:is(:active, :focus) {
    background-color: var(--cinza_claro);
  }

  #logo {
    height: 200px;
  }

  #botao_nav_bar, .seta i {
    font-size: 2rem;
  }


  .forma {
    display: none;
  }

  main {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .container_form {
    width: 100%;
  }

  .form {
    padding: 20px;
  }
}
